.flex-container {
    display: flex;
    height: 500px;
    text-align: center;
}

.game-play {
    width: 60%;
    background-color: #61787D;
    color: #F5F4E9;
    border: 2px solid #AEAC9B;
}

.game-results {
    width: 40%;
    background-color: #3C312B;
    color: #C2C7AE;
    border: 2px solid #AEAC9B;
}

.choose-one {
    align-content: space-around;
    padding: 50px;
}

.radio-image {
    border: 5px solid transparent;
    width: 75px;
    height: 100px
}

input:checked + .radio-image {
    border: 5px solid #F5F4E9;
}

input {
    display: none;
}

.hidden {
    display: none;
}